* {
    padding: 0;
    margin: 0;
}

.container {
    font-family: Arial, Veranda, sans-serif;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 4px);
    height: 100px;
    margin: 2px;
}

.inner-container {
    background: linear-gradient(#4B593E, #0D0D0D);
    display: flex;
    justify-content: space-between;

}

.tagline {
    padding:20px;
}

nav {
}

.main-nav {
    list-style-type: none;
    background-color: #022601;
    width: 100%;
    height: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-nav>li {
    font-size: .8em;
    color: white;
    padding: 8px 15px;

}

aside {
    background-color: #d0d0d0;
    width: 210px;
    height: 500px;
    margin: 2px;
}

.site-search {
    padding: 8px;
    font-size: .9em;
    border: 1px black solid;
    margin: 1px;
}

main {
    background-color: #B26919;
    width: calc(100% - 420px);
    height: 500px;
}

section {
    background-color: #d0d0d0;
    width: 210px;
    height: fit-content;
    padding: 8px;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-option {
    padding: 8px 0;
    font-size: .9em;
}

h2 {
    font-size: 1.25em;
    color: #022601;
}


#create-account {
    padding-top: 20px;
    list-style-type: none;
    font-size: .7em;
    color: #022601;
}

#create-account>li {
    margin-top: 3px;
}

footer {
    background-color: #d9ff9d;
    width: 100%;
    height: 50px;
}