* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e0113;

}

.main-header {
    background-color: lightskyblue;
    width: calc(100% - 40);
    height: 210px;
    padding: 10px;
    border: black solid 10px;
}

.main-logo {
    background-color: white;
    height: 200px;
    width: 200px;
    border: black solid 5px;
    float: left;
}

h1 {
    font-family: Futura, Arial, sans-serif;
    font-size: 5em;
    padding: 10px;
    float: left;

}

.nav-bar {
    background-color: #d9ff9d;
    height: 75px;
    width: 630px;
    padding: 5px;
    float: left;
}


.main-nav-links {

    height: 40px;
    background-color: mediumpurple;
}

.secondary-nav-links {
    height: 35px;
    background-color: pink;
}

.main-display-area {
    background-color: darkgoldenrod;
    border: red solid 2px;
    margin: 10px;
    top: 300px;
}

footer {
    background-color: palegreen;
    border: red solid 2px;
    margin: 10px;
    position: relative;
    top: 400px;

}

