
body {
    margin: 20px;
}

.my-container {
    border: #840000 5px solid;
}

.my-row {
    border: #003584 5px solid;
}

.my-col {
    border: #288400 5px dotted;
}

.circles {
    text-align: center;
    border: black 5px solid;
    border-radius: 50%;
    height: 105px;
    width: 105px;
}


